<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>
{% load custom_tags %}
{% block content %}
    {% random_number as article_id %}
    {% random_name as slug %}
    <div style="padding: 20px; background-color: green">The base template</div>
    <div style="padding: 20px; background-color: yellow">
        <a href="{% url 'article' article_id %}">To the article with random number</a>
    </div>
    <div style="padding: 20px; background-color: orange">
        <a href="{% url 'article_name' article_id slug %}">To the article with random name</a>
    </div>
{% endblock %}
</body>
</html>